Repository Konfus-org/Toybox, changes with the labels that .github/labeler.yml gives for each.
All labels: Source, Examples, Launcher, Plugins, Dependencies, Build System, CL/CI/Automation, Labeler, Documentation

fix: use reinterpret_cast for plugin symbol functions
  Engine/Source/Tbx/PluginAPI/LoadedPlugin.cpp
Labels: Source

Include cmath for tan in bounds test
  Engine/Source/Tbx/PluginAPI/LoadedPlugin.cpp
  Engine/Tests/Math/BoundsTests.cpp
Labels: Source

Include cmath for tan in Mat4x4 tests
  Engine/Tests/Math/Mat4x4Tests.cpp
Labels: Source

Set release config for MSVC analysis workflow
  .github/workflows/msvc.yml
Labels: CL/CI/Automation

Include cmath for quaternion tests
  Engine/Tests/Math/QuaternionTests.cpp
Labels: Source

Cache unload function pointer and include cmath
  Engine/Source/Tbx/PluginAPI/LoadedPlugin.cpp
  Examples/SimpleGame/Game/ExampleLayer.cpp
Labels: Source, Examples

Use portable export macro in plugin registration
  Engine/Include/Tbx/PluginAPI/RegisterPlugin.h
Labels: Source

Include <memory> for logger shared pointer
  Engine/Include/Tbx/Debug/Log.h
Labels: Source

Include cstddef for size_t alias
  Engine/Include/Tbx/TypeAliases/Int.h
Labels: Source

.github/labeler.yml:

Source:
  - 'Engine/**'
Examples:
  - 'Examples/**'
Launcher:
  - 'Launcher/**'
Plugins:
  - 'Plugins/**'
Dependencies:
  - 'Dependencies/**'
Build System:
  - '**/CMakeLists.txt'
  - '**/CMakePresets.json'
  - '**/*.cmake'
CL/CI/Automation:
  - '.github/workflows/**'
Labeler:
  - '.github/labeler.yml'
Documentation:
  - '**/*.md'
Feature:
 - head-branch: ['^feature', 'feature']
Patch:
 - head-branch: ['^patch', 'patch']
Release:
 - base-branch: 'main'
