Repository Konfus-org/Toybox, changes with the labels that .github/labeler.yml gives for each.
All labels: Engine, Examples, Launcher, Plugins, Dependencies, CL/CI/Automation, Documentation

Fix CMake matrix to set compilers
  .github/workflows/cmake-multi-platform.yml
Labels: CL/CI/Automation

Update cmake-multi-platform.yml
  .github/workflows/cmake-multi-platform.yml
Labels: CL/CI/Automation

Update cmake-multi-platform.yml
  .github/workflows/cmake-multi-platform.yml
Labels: CL/CI/Automation

Fix CodeQL upload for MSVC analysis
  .github/workflows/msvc.yml
Labels: CL/CI/Automation

Update cmake-multi-platform.yml
  .github/workflows/cmake-multi-platform.yml
Labels: CL/CI/Automation

Update cmake-multi-platform.yml
  .github/workflows/cmake-multi-platform.yml
Labels: CL/CI/Automation

Fix CMake workflow and test paths
  .github/workflows/cmake-multi-platform.yml
  CMakeLists.txt
  Engine/Tests/CMakeLists.txt
Labels: Engine, CL/CI/Automation

Update cmake to remove dup variable and properly configure TBX_RELEASEASSERT and update multi platform workflow
  .github/workflows/cmake-multi-platform.yml
  CMakeLists.txt
Labels: CL/CI/Automation

Tell cmake about custom release assert config
  CMakeLists.txt
Labels: none

Removing dependency on sys_info as its not supported and its linux implementation doesn't compile. Will find an alternative in the future.
  .gitmodules
  CMakeLists.txt
Labels: none

Improve debug macros for GCC
  Engine/CMakeLists.txt
  Engine/Include/Tbx/Debug/Debugging.h
  Engine/Include/Tbx/DllExport.h
  Engine/Include/Tbx/PluginAPI/SharedLibrary.h
  Engine/Source/Tbx/PluginAPI/SharedLibrary.cpp
Labels: Engine

Remove __VA_OPT__ from logging and assert macros
  Engine/Include/Tbx/Debug/Debugging.h
Labels: Engine

Update MSVC analysis workflow for latest action
  .github/workflows/msvc.yml
Labels: CL/CI/Automation

Fix cross-platform build issues
  Engine/Include/Tbx/Graphics/IRenderer.h
  Engine/Include/Tbx/Graphics/Vertex.h
  Engine/Include/Tbx/TBS/Box.h
  Engine/Source/Tbx/Graphics/Mesh.cpp
Labels: Engine

Restore vertex color field name
  Engine/Include/Tbx/Graphics/Vertex.h
  Engine/Source/Tbx/Graphics/Mesh.cpp
Labels: Engine

Update msvc.yml
  .github/workflows/msvc.yml
Labels: CL/CI/Automation

Update msvc.yml
  .github/workflows/msvc.yml
Labels: CL/CI/Automation

Update msvc.yml
  .github/workflows/msvc.yml
Labels: CL/CI/Automation

Update msvc.yml
  .github/workflows/msvc.yml
Labels: CL/CI/Automation

Update viewport size->extends
  Engine/Include/Tbx/Graphics/IRenderer.h
Labels: Engine

Limit libdl linkage to Linux
  Engine/CMakeLists.txt
  Engine/Include/Tbx/Debug/Debugging.h
  Engine/Include/Tbx/DllExport.h
  Engine/Include/Tbx/Graphics/Color.h
  Engine/Include/Tbx/Graphics/GraphicsSettings.h
  Engine/Include/Tbx/Graphics/IRenderer.h
  Engine/Include/Tbx/Graphics/Vertex.h
  Engine/Include/Tbx/PluginAPI/SharedLibrary.h
  Engine/Include/Tbx/TBS/Box.h
  Engine/Source/Tbx/Graphics/Mesh.cpp
  Engine/Source/Tbx/PluginAPI/SharedLibrary.cpp
Labels: Engine

.github/labeler.yml:

Engine:
  - 'Engine/**'
Examples:
  - 'Examples/**'
Launcher:
  - 'Launcher/**'
Plugins:
  - 'Plugins/**'
Dependencies:
  - 'Dependencies/**'
CL/CI/Automation:
  - '.github/workflows/**'
Documentation:
  - '**/*.md'
